script(type="text/javascript", src="/public/vendor/jquery.js")
script(type="text/javascript", src="/public/vendor/angular/angular.js")
script(type="text/javascript", src="/public/vendor/angular-resource.js")
script(type="text/javascript", src="/public/vendor/angular-route.js")
script(type="text/javascript", src="/public/app/app.js")
